// variaveis 

// paleta de cores
$cor-primaria: #2F5572;
$cor-secundaria: #d59541;


//tamanho de fonte
$font-tela-small: 2.8rem;

$tela-small : 530px;
$tela-medium : 800px;
$tela-large: 1200px;

$mq-tela-small: "(min-width: 530px)"
  