@charset "UTF-8";
.barra-superior--container-btn, .nav-primaria__a-direita {
  float: right; }

/* ----------------------------------------*\
        global.css
\*-----------------------------------------*/
/*
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  } 

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: #333; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #d59541; }

/* wrappers */
.container {
  padding-left: 1.1em;
  padding-right: 1.1em;
  /* seçao-pagina */
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

/* tela media */
@media (min-width: 800px) {
  .container {
    max-width: 976px; } }
.container--sem-padding-tela-pequena {
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 530px) {
  .container--sem-padding-tela-pequena {
    padding-left: 1.1em;
    padding-right: 1.1em; } }
.imagem-centro {
  text-align: center; }

.box-conteudo p {
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1.8rem 0; }

/* small */
@media (min-width: 530px) {
  .box-conteudo p {
    font-size: 1.1rem; } }
/* a cor do link vamos configurar no arquivo global.css */
.box-conteudo p a {
  font-weight: bold; }

/* ----------------------------------------*\
   barra-superior.css 
\*-----------------------------------------*/
.barra-superior {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: rgba(47, 85, 114, 0.3);
  padding: 0.8rem; }

.barra-superior__logo {
  position: absolute;
  top: 0;
  background-color: #2f5572;
  color: white;
  padding: 2rem 1rem; }

/* bloc nav-primaria */
.nav-primaria ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-primaria ul::after {
  content: "";
  clear: both;
  display: table; }

.nav-primaria ul li {
  padding-right: 1.1rem;
  padding-top: 0.7rem;
  display: inline-block; }

.nav-primaria ul li a {
  color: #FFF;
  text-decoration: none;
  font-weight: 300; }

/* ----------------------------------------*\
   botoes.css 
\*-----------------------------------------*/
.btn {
  text-decoration: none;
  color: #FFF;
  padding: 0.8rem 1.2rem;
  display: inline-block; }

.btn--azul {
  background-color: #2F5572; }

.btn--laranja {
  background-color: #d59541; }

.btn--grande {
  font-size: 0.9rem;
  padding: 0.6rem 1rem; }
  @media (min-width: 530px) {
    .btn--grande .btn--grande {
      font-size: 1.25rem;
      padding: 1rem 1.6rem; } }

/* ----------------------------------------*\
   cabecalho.css 
   topo da página com a imagem de fundo
\*-----------------------------------------*/
.jumbotron {
  position: relative;
  border-bottom: 10px solid #2F5572; }

.jumbotron__image {
  display: block; }

/* 2 */
.jumbotron__text-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center; }

/* ---------------------------- */
/* Vamos evitar seletores do tipo 
   .jumbotron h1 { ...  } 
   Falar do BEM
*/
/* primeiro no html  */
.jumbotron__titulo {
  font-size: 2rem;
  /* mobile first */
  font-weight: 300;
  color: #2F5572;
  margin: 0; }
  @media (min-width: 530px) {
    .jumbotron__titulo {
      font-size: 2.8rem; } }
  @media (min-width: 800px) {
    .jumbotron__titulo {
      font-size: 3.2rem; } }
  @media (min-width: 1200px) {
    .jumbotron__titulo {
      font-size: 4.6rem; } }

.jumbotron__subtitulo {
  font-size: 1.1rem;
  font-weight: 300;
  color: #2F5572;
  margin: 0; }

@media (min-width: 530px) {
  .jumbotron__subtitulo {
    font-size: 1.9rem; } }
@media (min-width: 800px) {
  .jumbotron__subtitulo {
    font-size: 2.8rem; } }
.jumbotron__descricao {
  color: #FFF;
  font-size: 1.1rem;
  /* mobile first */
  font-weight: 200;
  -webkit-text-shadow: 2px 2px 1px rgba(1, 1, 2, 0.1);
  -moz-text-shadow: 2px 2px 1px rgba(1, 1, 2, 0.1);
  text-shadow: 2px 2px 1px rgba(1, 1, 2, 0.1);
  max-width: 30ch;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 530px) {
  .jumbotron__descricao {
    font-size: 1.6rem; } }
/* seções da página */
.secao-pagina {
  padding: 0.5rem 0; }
  @media (min-width: 800px) {
    .secao-pagina {
      padding: 4.5rem 0; } }

.secao-pagina__azul {
  color: #EEE;
  background-color: #2f5572; }

/* ---- incluido na versao 3 ----- */
.secao-titulo {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center; }
  @media (min-width: 530px) {
    .secao-titulo {
      font-size: 3.7rem; } }

.secao-titulo__icone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem; }

@media (min-width: 530px) {
  .secao-titulo__icone {
    margin-right: 0.5rem;
    margin-left: 0;
    margin-bottom: 0;
    display: inline-block; } }
.secao-titulo--azul {
  color: #2f5572; }

/* TODO: Analisar se deve ficar em outro arquivo */
.font-weight-500 {
  font-weight: 500; }

/* --- Bloco item-servico ---------- */
.item-servico {
  position: relative;
  padding-bottom: 2rem; }
  @media (min-width: 530px) {
    .item-servico {
      padding-left: 90px; } }

.item-servico__icone {
  display: block;
  margin: 0 auto; }

@media (min-width: 530px) {
  .item-servico__icone {
    position: absolute;
    left: 0; } }
.item-servico__titulo {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0.6em;
  margin-bottom: 0.6rem;
  text-align: center; }

@media (min-width: 530px) {
  .item-servico__titulo {
    text-align: left;
    font-size: 1.8rem;
    margin-top: 1em; } }
/* -------- Bloco subtitulo ---------------*/
.subtitulo {
  font-weight: 300;
  /* font-size: 2.8rem; */
  font-size: 1.8rem;
  color: #2f5572; }

@media (min-width: 530px) {
  .subtitulo {
    font-size: 2.8rem; } }
.subtitulo--centralizado {
  text-align: center; }

.subtitulo--laranja {
  color: #d59541; }

.subtitulo--pequeno {
  /*font-size: 1.8rem; */
  font-size: 1.2rem; }

@media (min-width: 530px) {
  .subtitulo--pequeno {
    font-size: 1.8rem; } }
.subtitulo--estreito {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto; }

.subtitulo--fino {
  font-weight: 100; }

.subtitulo--margem-inf-peq {
  margin-bottom: 0.5em; }

.subtitulo--margem-inf-grande {
  margin-bottom: 1.6em; }

.subtitulo--margem-sup-0 {
  margin-top: 0; }

/* ------ incluido na versao 4 ------- */
.secao-pagina--testemunhas {
  background-color: #E0E6EF; }

@media (min-width: 800px) {
  .secao-pagina--testemunhas {
    background: url(../imagens/testemunha-bg.jpg) top center no-repeat;
    background-size: cover; } }
/* ------- Bloco Testemunhas -------- */
.testemunha {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 0.6rem 0.2rem 0.6rem;
  margin-bottom: 95px; }

@media (min-width: 530px) {
  .testemunha {
    padding: 0 1rem 0.5rem 1rem; } }
@media (min-width: 800px) {
  .testemunha {
    padding: 0 1.8rem 1rem 1.8rem;
    margin-bottom: 0; } }
.testemunha__foto {
  border-radius: 50%;
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto -80px auto;
  position: relative;
  top: -80px;
  border: 7px SOLID rgba(255, 255, 255, 0.7); }

.testemunha__titulo {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: #2f5572;
  margin: 0; }

.testemunha__subtitulo {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  color: #d59541;
  margin: 0.25rem 0 1rem 0; }

.testemunha__descricao {
  font-weight: 300;
  line-height: 150%; }

/* ----------------------------------------*\
   grid.css 
\*-----------------------------------------*/
.row {
  padding: 5px; }
  .row::after {
    content: "";
    clear: both;
    display: table; }

@media (min-width: 800px) {
  .row__col--4 {
    float: left;
    width: 33.33%; }

  .row__col--8 {
    float: left;
    width: 66.66%; }

  .row--mesma-altura-tela-media {
    display: flex; }

  .row--mesma-altura-tela-media > div {
    float: none;
    display: flex; } }
@media (min-width: 800px) {
  .row__col--pr2 {
    padding-right: 2rem; } }
@media (min-width: 530px) {
  /* pr - padding right,  */
  .row__col--pr4 {
    padding-right: 4rem; }

  .row__col--6 {
    float: left;
    width: 50%; } }
.row--pt {
  padding-top: 80px; }

.rodape {
  text-align: center;
  background-color: #2f5572;
  color: white;
  padding: 0.5rem 0; }

.rodape__texto {
  display: block;
  margin-bottom: 1rem; }

@media (min-width: 800px) {
  .rodape__texto {
    display: inline;
    margin-bottom: 0;
    margin-right: 1.3rem; } }

/*# sourceMappingURL=agencia.css.map */
