/* ----------------------------------------*\
   cabecalho.css 
   topo da página com a imagem de fundo
\*-----------------------------------------*/

.jumbotron {
  position: relative;
  border-bottom: 10px solid $cor-primaria;
}

.jumbotron__image {
   display: block;
} 

/* 2 */
.jumbotron__text-content {
   
  position: absolute;
  top: 50%;
  left: 0;
   
  transform: translateY(-50%);
  width: 100%;
   
  text-align: center;
}
/* ---------------------------- */

/* Vamos evitar seletores do tipo 
   .jumbotron h1 { ...  } 
   Falar do BEM
*/

/* primeiro no html  */
.jumbotron__titulo {
   font-size: 2rem; /* mobile first */
   font-weight: 300;
   color: $cor-primaria;
   margin: 0;

   @media #{$mq-tela-small} {
      font-size: $font-tela-small;
  }

  @media(min-width: $tela-medium) {
        font-size: 3.2rem;
  }

  @media(min-width: $tela-large) {
        font-size: 4.6rem;
  }
}







.jumbotron__subtitulo {
   font-size: 1.1rem;
   font-weight: 300;
   color: $cor-primaria;
   margin: 0;
}

   @media(min-width: 530px) {
       .jumbotron__subtitulo {
           font-size: 1.9rem;
        }
    }

    @media(min-width: 800px) {
       .jumbotron__subtitulo {
           font-size: 2.8rem;
        }
    }

.jumbotron__descricao {
   color: #FFF;
   font-size: 1.1rem; /* mobile first */
   font-weight: 200;
   @include texto-sombreado-param(1, 1, 2);
   max-width: 30ch; 
   margin-left: auto;
   margin-right: auto;
   
}

    @media(min-width: 530px) {
        .jumbotron__descricao {
              font-size: 1.6rem;
        }
    }



